<h1>Quotes List</h1>


<% @quotes.each do |q| %>
  <div>
    <p><%= q.quote %> - <%= q.author.name %></p>
    <p> Topic: <%= q.topic.name %></p>
  </div>
<% end %>


<br />
<a href="/quotes/new">New quote</a>
<a href="/users">Home</a>
