<h1>Add new quote</h1>

<form  action="/quotes/new" method="post">
  <textarea name="quote" placeholder="New quote"></textarea><br />
  <input type="text" name="author_name" placeholder="Author name"><br />
  <input type="text" name="topic_name" placeholder="Topic">
  <input type="submit" value="Add quote">

</form>
