<h1>Add new quote</h1>

<% if @quote.errors.any? %>
  <div>
    <ul>
      <% @quote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end%>

<form  action="/quotes/new" method="post">
  <textarea name="quote" placeholder="New quote"></textarea><br />
  <input type="text" name="author" placeholder="Author name"><br />
  <input type="text" name="topic" placeholder="Topic">
  <input type="submit" value="Add quote">

</form>
