<h1>Quote</h1>

<div>
  <p><%= @quote.quote %> - <%= @quote.author.name %></p>
  <p> Topic: <%= @quote.topic.name %></p>
</div>

<div>
  <form action="/quotes/<%= @quote.id%>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="delete">
  </form>
</div>

<div>
  <a href="/quotes/new">New quote</a>
  <a href="/quotes">Home</a>
</div>
