<div class="center">
  <h3>Log in</h3>

  <form action="/login" method="post">
    <p><input type="text" name="username" placeholder="Username"></p>
    <p><input type="password" name="password" placeholder="Password"></p>
    <p><input type="submit" value="Log in"></p>
  </form>

  <p>Don't have an account? <a href="/signup">Sign up</a></p>
</div>
