<div class="row">
  <h3>Topics</h3>
</div>

<div class="row center topics">
  <ul>
    <% @topics.each do |t| %>
      <li><a href="/topics/<%= t.id %>"><%= t.name %></a> </li>
    <% end %>
  </ul>
</div>
