<div class="row">
  <h3>Authors</h3>
</div>

<div class="row center authors">
  <ul>
    <% @authors.each do |a| %>
      <li><a href="/authors/<%= a.id %>"><%= a.name %></a></li>
    <% end %>
  </ul>
</div>
