<h1>Sign up</h1>

<% if @user.errors.any? %>
  <div>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<form action="/signup" method="post">
  <p><input type="text" name="username" placeholder="Username"></p>
  <p><input type="password" name="password" placeholder="Password"></p>
  <p><input type="password" name="password_confirmation" placeholder="Confirm password"></p>
  <p><input type="submit" name="" value="Sign up"></p>
</form>
