<div class="row">
  <h3>Sign up</h3>

  <% if @user.errors.any? %>
  <div class="errors row center">
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li>
        <p>
          <i><%= msg %></i>
        </p>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <form action="/signup" method="post">
    <p><input type="text" name="username" placeholder="Username"></p>
    <p><input type="password" name="password" placeholder="Password"></p>
    <p><input type="password" name="password_confirmation" placeholder="Confirm password"></p>
    <p><input type="submit" value="Sign up" class="submit"></p>
  </form>

  <p>Have an account?
    <a href="/login">Log in</a>
  </p>
</div>
