<div class="hero">
  <div class="row">
    <h2>Save and create meaningful quotes</h2>
  </div>

  <div class="index row">
    <p><a href="/signup">Sign up</a></p>
    <p><a href="/login">Log in</a></p>
  </div>
</div>
