<div class="hero">
  <div class="row center">
    <h2>Create and save your favorite quotes</h2>
  </div>

  <div class="center">
    <p>
      <span id="signup">
        <a href="/signup">Sign up</a>
      </span>
      <span id="login">
        <a href="/login">Log in</a>
      </span>
    </p>
  </div>
</div>
