<div class="hero">
  <div class="row center">
    <h2>Save and create meaningful quotes</h2>
  </div>

  <div class="center">
    <p>
      <span id="signup"><a href="/signup">Sign up</a></span><a href="/login">Log in</a>
    </p>

  </div>
</div>
