<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quote List</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <div class="color-bar"></div>
    <header>
      <div class="title">
        <h1>
          <a href="/users">Quote List</a>
        </h1>
      </div>

      <% if logged_in? %>
      <a href="/quotes/new">
        <div class="add-quote">
          Add quote
        </div>
      </a>
      <% end %>

    </header>

      <%= yield %>

    <footer class="row center">
      <% if logged_in? %>
      <nav class="row">
          <ul>
            <li>
              <a href="/users" class="home-link row">Home</a>
            </li>
            <li>
              <a href="/quotes">Quotes</a>
            </li>
            <li>
              <a href="/topics">Topics</a>
            </li>
            <li>
              <a href="/authors">Authors</a>
            </li>
          </ul>
      </nav>


      <div class="logout">
        <b>
          <a href="/logout">Log out</a>
        </b>
      </div>
      <% end %>

      <p>MADE BY
        <a href="http://www.github.com/surla">
          <span id="name">
            <b>JOSEPH SURLA</b>
          </span>
        </a>
      </p>
    </footer>
  </body>
</html>
